a{

    text-decoration: none;
    color: black;
    /* padding: 15px ; */
    border: solid #d0d0d0;
    /* border-radius: 10px 10px 0px 0; */
    /* display: flex; */


}



.preview {
    border: solid black .3em;
    border-radius: .5em;
    padding: 80px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{

    display: none;

}

#Copick{
    display:block;
    max-height: 5em;
    position: absolute;
    top: 57.5%;
    left: 60%;
    transform: translate(-50%, 1em);
}

